name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  gitleaks:
    name:  Gitleaks - Vazamento de Segredos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Importante para verificar hist贸rico completo

      - name: Rodar Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .github/gitleaks.toml  # Opcional
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  sonarqube:
    name:  SonarQube - An谩lise de C贸digo
    runs-on: ubuntu-latest
    needs: gitleaks  # S贸 roda se o job gitleaks passar

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
